<h1 id="titutlo">ESTRUCTURAS DE CONTROL</h1>
<hr>
<h2>ngSwitch</h2>
<input type="text" required #inputName="ngModel" [(ngModel)]="person.name" >
<div [ngSwitch]="person.name">
<p *ngSwitchCase="'Lucas'"> Buenos dias Lucas, que tengas un buen dia</p>
<p *ngSwitchCase="'Juan'"> Buenos dias Juan, que tengas un buen dia</p>
<p *ngSwitchCase="'Pedro'"> Buenos dias Pedro, que tengas un buen dia</p>
<p *ngSwitchCase="'Diego'"> Buenos dias Diego, que tengas un buen dia</p>
<p *ngSwitchCase="'Carla'"> Buenos dias Carla, que tengas un buen dia</p>
<p *ngSwitchCase="'Esteba'"> Buenos dias Esteban, que tengas un buen dia</p>
<p *ngSwitchDefault> Excelente Dia</p>

</div>

<hr>
<h2>*ngFor Aplicado a Objetos</h2>

<div>
  <div *ngFor="let producto of products">
    <p>{{producto.name}}</p>
    <p>{{producto.price}}</p>
    <img height="200" width="200" src="{{producto.image}}" alt="">
    <p>Comentario: {{producto.comentario}}</p>
  </div>
</div>

<hr>
<h2>*ngFor</h2>
<input type="text" [(ngModel)]="newName">
<button (click)="agregarChololate()">Agregar Chocolate</button>
<ul>
  <li *ngIf="chocolates.length == 0">No hay elementos</li>
  <li *ngFor="let item of chocolates; index as i">
      {{i}}.- {{item}}
      <button (click)="borrarChocolate(i)">Delete</button>
  </li>
</ul>

<hr>
<h2>*ngIf</h2>
<input type="number" required max="50" min="10" #inputAge="ngModel" [(ngModel)]="person.age">
<input type="text" required #inputName="ngModel" [(ngModel)]="person.name" >
<p *ngIf="person.name === 'Carlos'">Bienvenido Carlos, que tengas un exclente dia</p>
<p *ngIf="person.name === 'Danna'">Bienvenida Danna, que tengas un exclente dia</p>
<p *ngIf="person.name === 'Kevin' && person.age == 18; else myElse">Bienvenido Kevin, que tengas un exclente dia</p>

<ng-template #myElse>
<p>Buenos dias</p>
</ng-template>

<h1 id="titutlo">COMUNICACION DE DATOS</h1>
<hr>
<h1>NGMODEL </h1>
<p>Nombre : {{nombre}}</p>
<input type="text" required #inputName="ngModel" [(ngModel)]="nombre" >
<p>Valid: {{inputName.valid}}</p>

<p>Age: {{edad}}</p>
<input type="number" required max="50" min="10" #inputAge="ngModel" [(ngModel)]="edad">
<p>Valid: {{inputAge.valid}}</p>
<hr>

<h1>Event Binding </h1>
<h3>El texto introducido es: {{person.name}}</h3>
<input type="text" [value]="person.name" (keyup)="changeName($event)" >

<p>Edad: {{person.age}}</p>
<button (click)="increaseAge()">Aumentar</button>

<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ipsam obcaecati molestiae totam aliquam sed aspernatur
    velit culpa explicabo deserunt incidunt consequatur dolorum ipsum harum distinctio illo non. Placeat, animi.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ipsam obcaecati molestiae totam aliquam sed aspernatur
    velit culpa explicabo deserunt incidunt consequatur dolorum ipsum harum distinctio illo non. Placeat, animi.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ipsam obcaecati molestiae totam aliquam sed aspernatur
    velit culpa explicabo deserunt incidunt consequatur dolorum ipsum harum distinctio illo non. Placeat, animi.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ipsam obcaecati molestiae totam aliquam sed aspernatur
    velit culpa explicabo deserunt incidunt consequatur dolorum ipsum harum distinctio illo non. Placeat, animi.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ipsam obcaecati molestiae totam aliquam sed aspernatur
    velit culpa explicabo deserunt incidunt consequatur dolorum ipsum harum distinctio illo non. Placeat, animi.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ipsam obcaecati molestiae totam aliquam sed aspernatur
    velit culpa explicabo deserunt incidunt consequatur dolorum ipsum harum distinctio illo non. Placeat, animi.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ipsam obcaecati molestiae totam aliquam sed aspernatur
    velit culpa explicabo deserunt incidunt consequatur dolorum ipsum harum distinctio illo non. Placeat, animi.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ipsam obcaecati molestiae totam aliquam sed aspernatur
    velit culpa explicabo deserunt incidunt consequatur dolorum ipsum harum distinctio illo non. Placeat, animi.
  </p>
</div>

<hr>
<h1>Property Binding </h1>
<button [disabled]= "habilitado">Enviar</button>
<input type="text" [value]="title" [disabled]="habilitado">
<input type="text" [value]="person.name" />
<progress max="80" [value]="person.age"></progress>
<img width="100" [src]="person.avatar" alt="Imagen"/>

<hr>
<h1>String Interpolation</h1>
<h1>Hola mundo</h1>
<h2>3 +3 = {{3+3}}</h2>
<p>El titutlo del presente proyecto es: {{title}}</p>
<p>Nombre : {{nombre}}</p>
<p>Edad: {{edad}}</p>
<img src="{{img}}" alt="Image">
