.box {
  height: 200px;
  width: 200px;
  overflow: auto;
  background: rgb(82, 4, 4);
  color: aliceblue;
}

#titutlo{
  color: rgb(2, 2, 86);
  text-decoration: underline;
  font-weight: 1200;
}

.products--grid{
  display: flex;
  flex-direction: column;
    img{
      width: 200px;
      height: 200px;
      border-radius: 10px;
    };
    p {
      margin: 0;
    }
}

@media screen and (min-width: 40em) {
  .products--grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
  }
}

.message-error{
  background-color: red;
  color: white;
  opacity: 0;
  transition: all linear 0.5s;
  &.invalid{
    opacity: 1;
  }
}

.styles{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.line-error{
  height: 0;
  border-bottom: 1px solid;
  &.invalid{
    border-color: red;
  }
  &.valid{
    border-color: green;
  }
}
