<h1 id="titutlo">FORMULARIOS BASICOS EN ANGULAR</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div>
    <label for="name">Nombre</label>
    <input type="text" placeholder="Ingrese su nombre..." #formName="ngModel" name="name" [(ngModel)]="form.name" required>
    <p class="message-error" [class.invalid]="formName.invalid">Mensaje de Error</p>
  </div>
  <div>
    <label for="email">Email</label>
    <input placeholder="Ingrese su mail..." #formEmail="ngModel" type="email" name="email" [(ngModel)]="form.email" required>
    <p class="message-error" [class.invalid]="formEmail.invalid">Mensaje de Error</p>
  </div>
  <div>
    <label for="password">Password</label>
    <input min="3" max="10" placeholder="Maximo 10 caracteres" #formPassword="ngModel"type="password" name="password" [(ngModel)]="form.password" required>
    <p class="message-error" [class.invalid]="formPassword.invalid">Mensaje de Error</p>
  </div>
  <div>
    <button type="submit" [disabled]="myForm.invalid">Registrarse</button>
    <button type="button">Accion</button>
  </div>
</form>

<hr>
<h1 id="titutlo">ESTILOS EN ANGULAR</h1>
<hr>
<h2>NGCLASS & NGSTYLE</h2>

<h3>ngClass</h3>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="nombre"/>
<hr class="line-error"
[ngClass]="{
  'valid':nameInput3.valid,
  'invalid': nameInput3.invalid
  }">
<p class="message-error" [class.invalid]="nameInput.invalid" >
  Este campo es requerido
</p>
<hr class="line-error"
[ngClass]="{
  'valid':nameInput3.valid,
  'invalid': nameInput3.invalid
  }">
<hr>
<h3>ngStyle</h3>
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width">
    <input type="number" [(ngModel)]="box.height">
    <input type="color" [(ngModel)]="box.background">
  </div>
  <div [ngStyle]="{
    'width.px':box.width,
    'height.px':box.height,
    'background-color':box.background,
    'display': 'block'
  }">
  </div>
</div>

<h2>CLASS & STYLE</h2>
<h3>CLASS</h3>
<input type="text" required #nameInput="ngModel" [(ngModel)]="nombre"/>
<p class="message-error" [class.invalid]="nameInput.invalid" >
  Este campo es requerido
</p>
<p>Valid: {{nameInput.valid}}</p>
<h3>Style</h3>
<label>Nombre</label>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="nombre"/>
<p [style.font-style]="nameInput2.invalid ? 'italic' : 'normal'">
  Texto TExto texto texto Lorem
</p>
<hr>
<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg">
  </div>
  <div>
    <img [style.width.px]="widthImg" [src]="person.avatar" alt="Imagen"/>
  </div>
</div>

<hr>
<h1 id="titutlo">ESTRUCTURAS DE CONTROL</h1>
<hr>
<h2>ngSwitch</h2>
<input type="text" required #inputName="ngModel" [(ngModel)]="person.name" >
<div [ngSwitch]="person.name">
<p *ngSwitchCase="'Lucas'"> Buenos dias Lucas, que tengas un buen dia</p>
<p *ngSwitchCase="'Juan'"> Buenos dias Juan, que tengas un buen dia</p>
<p *ngSwitchCase="'Pedro'"> Buenos dias Pedro, que tengas un buen dia</p>
<p *ngSwitchCase="'Diego'"> Buenos dias Diego, que tengas un buen dia</p>
<p *ngSwitchCase="'Carla'"> Buenos dias Carla, que tengas un buen dia</p>
<p *ngSwitchCase="'Esteba'"> Buenos dias Esteban, que tengas un buen dia</p>
<p *ngSwitchDefault> Excelente Dia</p>

</div>

<hr>
<h2>*ngFor Aplicado a Objetos</h2>

<div class="products--grid">
  <div *ngFor="let producto of products">
    <p>{{producto.name}}</p>
    <p>{{producto.price}}</p>
    <img width="200px" height="200px" src="{{producto.image}}" alt="">
    <p>Comentario: {{producto.comentario}}</p>
  </div>
</div>

<hr>
<h2>*ngFor</h2>
<input type="text" [(ngModel)]="newName">
<button (click)="agregarChololate()">Agregar Chocolate</button>
<ul>
  <li *ngIf="chocolates.length == 0">No hay elementos</li>
  <li *ngFor="let item of chocolates; index as i">
      {{i}}.- {{item}}
      <button (click)="borrarChocolate(i)">Delete</button>
  </li>
</ul>

<hr>
<h2>*ngIf</h2>
<input type="number" required max="50" min="10" #inputAge="ngModel" [(ngModel)]="person.age">
<input type="text" required #inputName="ngModel" [(ngModel)]="person.name" >
<p *ngIf="person.name === 'Carlos'">Bienvenido Carlos, que tengas un exclente dia</p>
<p *ngIf="person.name === 'Danna'">Bienvenida Danna, que tengas un exclente dia</p>
<p *ngIf="person.name === 'Kevin' && person.age == 18; else myElse">Bienvenido Kevin, que tengas un exclente dia</p>

<ng-template #myElse>
<p>Buenos dias</p>
</ng-template>

<h1 id="titutlo">COMUNICACION DE DATOS</h1>
<hr>
<h1>NGMODEL </h1>
<p>Nombre : {{nombre}}</p>
<input type="text" required #inputName="ngModel" [(ngModel)]="nombre" >
<p>Valid: {{inputName.valid}}</p>

<p>Age: {{edad}}</p>
<input type="number" required max="50" min="10" #inputAge="ngModel" [(ngModel)]="edad">
<p>Valid: {{inputAge.valid}}</p>
<hr>

<h1>Event Binding </h1>
<h3>El texto introducido es: {{person.name}}</h3>
<input type="text" [value]="person.name" (keyup)="changeName($event)" >

<p>Edad: {{person.age}}</p>
<button (click)="increaseAge()">Aumentar</button>

<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ipsam obcaecati molestiae totam aliquam sed aspernatur
    velit culpa explicabo deserunt incidunt consequatur dolorum ipsum harum distinctio illo non. Placeat, animi.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ipsam obcaecati molestiae totam aliquam sed aspernatur
    velit culpa explicabo deserunt incidunt consequatur dolorum ipsum harum distinctio illo non. Placeat, animi.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ipsam obcaecati molestiae totam aliquam sed aspernatur
    velit culpa explicabo deserunt incidunt consequatur dolorum ipsum harum distinctio illo non. Placeat, animi.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ipsam obcaecati molestiae totam aliquam sed aspernatur
    velit culpa explicabo deserunt incidunt consequatur dolorum ipsum harum distinctio illo non. Placeat, animi.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ipsam obcaecati molestiae totam aliquam sed aspernatur
    velit culpa explicabo deserunt incidunt consequatur dolorum ipsum harum distinctio illo non. Placeat, animi.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ipsam obcaecati molestiae totam aliquam sed aspernatur
    velit culpa explicabo deserunt incidunt consequatur dolorum ipsum harum distinctio illo non. Placeat, animi.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ipsam obcaecati molestiae totam aliquam sed aspernatur
    velit culpa explicabo deserunt incidunt consequatur dolorum ipsum harum distinctio illo non. Placeat, animi.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ipsam obcaecati molestiae totam aliquam sed aspernatur
    velit culpa explicabo deserunt incidunt consequatur dolorum ipsum harum distinctio illo non. Placeat, animi.
  </p>
</div>

<hr>
<h1>Property Binding </h1>
<button [disabled]= "habilitado">Enviar</button>
<input type="text" [value]="title" [disabled]="habilitado">
<input type="text" [value]="person.name" />
<progress max="80" [value]="person.age"></progress>
<img width="100" [src]="person.avatar" alt="Imagen"/>

<hr>
<h1>String Interpolation</h1>
<h1>Hola mundo</h1>
<h2>3 +3 = {{3+3}}</h2>
<p>El titutlo del presente proyecto es: {{title}}</p>
<p>Nombre : {{nombre}}</p>
<p>Edad: {{edad}}</p>
<img src="{{img}}" alt="Image">
